{% extends "courses/base.html" %} 
{% load course_custom_tags %}

{% block title %} 
PyLearn | Python 線上學習資源
{%endblock %} 

{% block content %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'courses/css/common.css' %}">
<link rel="stylesheet" href="{% static 'courses/css/scrollbar.css' %}">
{% endblock  %}

<h1> PyLearn | 線上 Python 學習資源 </h1>
<p> PyLearn 是一個線上學習資源，提供 Python 的教學影片、線上練習、以及線上測驗，讓你可以在家就能學習 Python。 </p>

<div class="container-fluid">
    <br>
    <div class="row">
        {% for course in courses %}
            <div class="col">
                <div class="card mx-auto" style="width: 18rem;">
                    <img src="{{ course.thumbnail.url }}" class="card-img-top" alt="{{ course.name }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ course.name }}</h5>
                      <p class="card-text">
                        <span class="price">
                            <del>{{ course.price | ntd }}</del>
                            &nbsp;{% cal_sellprice course.price course.discount as value %} {{ value | ntd }}

                        </span>
                        <br>
                        <span class="discount">現在買可省 {{ course.discount }}%</span>
                      </p>
                    </div>

                    <div class="card-footer d-flex justify-content-center align-items-center">
                        <div class="row">
                            <div class="col">
                                <a href="/check-out/{{course.slug}}" class="btn btn-light btn-block">現在報名</a>
                            </div>
                            <div class="col">
                                <a href="/courses/{{course.slug}}" class="btn btn-light btn-block">更多資訊</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <br>
</div>

{% endblock%}
